<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <div ng-controller="instagram">
    <form name="myForm">
        <ion-pane>      
        <ion-content>
          <div style="text-align: center; margin-top:100px;">
              <img src="img/insta.png"/>
          </div>
          <div style="text-align: center;margin: 30px;">
           
             <label class="item item-input" style="background-color: #fcfcfc; color: grey">
                <input type="text" placeholder="Phone number, email or username" ng-model="myForm.mail"/>
              </label>
              <br/>
              <label class="item item-input" style="background-color: #fcfcfc">
                <input type="text" placeholder="Password" ng-model="myForm.password"/>
              </label>
              <br/>
              <button ng-click="login()" class="button button-outline button-positive" style="width: 100%">Log In</button>
              <br/><br/>
              <a ng-click="forgot()" style="text-align: center; color:grey; font-size: 12px;">Forgot your login details?</a>
              <a ng-click="signinHelp()" style="text-align: center; color:grey; font-size: 12px;"><b>Get help signing in.</b></a>
              <p style="text-align:center;">    
                  <hr style="float: left; width:45%;">OR<hr style="float: right; width:47%">
              </p>
              <button ng-click="fb()" class="button button-clear button-positive" style="font-size: 12px"><img src="img/fb.png"/><b> Continue with Facebook</b></button>
        
          </div>
      </ion-content>
      <div class = "bar bar-footer " style="border-top: 1px solid lightgrey; display: inline; text-align: center;"> 
        <button ng-click="signup()" class="button button-clear button-stable" style="color:grey;  font-size: 12px;">Don't have an account?<b> Sign up.</b></button>
      </div>
    </ion-pane>
    
       </form>
    </div>
  </body>
</html>
